<nz-layout class="app-layout">
  <nz-header class="header">
    <div nz-row nzJustify="space-between">
      <div nz-row>
        <span
          (click)="toggleSidebar()"
          style="font-size: 20px; cursor: pointer; padding-right: 15px"
        >
          ☰
        </span>
        <h3 style="margin: 0">E-Commerce Admin</h3>
      </div>
      <div>
        <a
          nz-dropdown
          [nzDropdownMenu]="menu"
          nzTrigger="click"
          style="display: flex; align-items: center; gap: 6px"
        >
          <span nz-icon nzType="user"></span>
          <span>Profile</span>
        </a>

        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="logout()">
              <span nz-icon nzType="logout"></span>
              Logout
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </nz-header>

  <nz-layout>
    <nz-sider
      nzCollapsible
      [nzCollapsed]="isCollapsed"
      [nzCollapsedWidth]="0"
      [nzWidth]="isCollapsed ? 0 : 300"
      [nzTrigger]="null"
    >
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li
          nz-menu-item
          routerLink="/dashboard"
          routerLinkActive="ant-menu-item-selected"
          #dash="routerLinkActive"
          [nzSelected]="dash.isActive"
        >
          <span nz-icon nzType="dashboard"></span>
          <span>Dashboard</span>
        </li>

        <li
          nz-menu-item
          routerLink="/products"
          routerLinkActive="ant-menu-item-selected"
          #prod="routerLinkActive"
          [nzSelected]="prod.isActive"
        >
          <span nz-icon nzType="appstore"></span>
          <span>Products</span>
        </li>

        <li
          nz-menu-item
          routerLink="/orders"
          routerLinkActive="ant-menu-item-selected"
          #order="routerLinkActive"
          [nzSelected]="order.isActive"
        >
          <span nz-icon nzType="shopping-cart"></span>
          <span>Orders</span>
        </li>

        <li
          nz-menu-item
          routerLink="/users"
          routerLinkActive="ant-menu-item-selected"
          #user="routerLinkActive"
          [nzSelected]="user.isActive"
        >
          <span nz-icon nzType="user"></span>
          <span>Users</span>
        </li>
      </ul>
    </nz-sider>

    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
