<div class="container">

  <h2>Products</h2>

  <!-- SEARCH -->

  <!-- FORM -->
  <div class="form">
  <div style="margin-bottom: 10px;"><input placeholder="Search products..." (input)="onSearch($event)"></div>

  <!-- LOADING -->
  <div *ngIf="loading$ | async">Loading...</div>

  <!-- ERROR -->
  <div *ngIf="error$ | async as error" style="color:red">
    {{ error }}
  </div>

    <input [(ngModel)]="newProduct.name" placeholder="Product Name">

    <!-- VALIDATION MESSAGE -->
    <div *ngIf="nameError" style="color:red; font-size:12px;">
      Product name is required
    </div>

    <input [(ngModel)]="newProduct.price" type="number" placeholder="Price">
    <input [(ngModel)]="newProduct.stock" type="number" placeholder="Stock">

    <button *ngIf="!editMode" (click)="addProduct()">Add</button>
    <button *ngIf="editMode" (click)="updateProduct()">Update</button>

  </div>

  <!-- TABLE -->
  <table *ngIf="(products$ | async)?.length; else noData">

    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Action</th>
    </tr>

    <tr *ngFor="let p of (products$ | async)">
      <td>{{ p.name }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.stock }}</td>
      <td>
        <button (click)="editProduct(p)" style="margin-right: 10px;">Edit</button>
        <button (click)="deleteProduct(p.id)">Delete</button>
      </td>
    </tr>

  </table>

  <!-- EMPTY STATE -->
  <ng-template #noData>
    <div style="text-align:center; margin-top:20px; color:gray;">
      No data found
    </div>
  </ng-template>

</div>