/* FULL HEIGHT */
html,
body {
  margin: 0;
  height: 100%;
}

/* HEADER */
.header {
  background: #fff;
  padding: 0 20px;
  height: 64px;
  // display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

/* SIDEBAR */
nz-sider {
  height: calc(100vh - 64px);
}

.logo {
  height: 64px;
  // color: #fff;
  text-align: center;
  line-height: 64px;
  font-weight: bold;
}

/* CONTENT */
.content {
  padding: 20px;
  background: #f5f7fa;
  min-height: calc(100vh - 64px);
}

/* REMOVE DEFAULT TRIGGER */
.ant-layout-sider-trigger {
  display: none;
}

.modal-input {
  margin-bottom: 12px;
}

.ant-layout-sider {
  background: #001529; // keep
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #1677ff; // brighter highlight
}

.ant-card {
  border-radius: 10px;
}

.ant-card h2 {
  margin: 0;
  font-weight: 600;
}

nz-layout {
  min-height: 100vh;
}

.content-wrapper {
  padding: 16px;
  height: 100%;
}
